$red: #C62E32;
$tag: #D5E9F6;
$blue: #0064BC;

html {
  background: #fdfdfd;
}

body {
  color: #222;
  font-family: arial, sans-serif;
  font-size: 100%;
  line-height: 1.4;
  margin: 0;
}

a {
  color: $blue;
}

label {
  color: #444;
  font-size: 13px;
}

label.required:after {
  color: $red;
  content: '*';
}

.required {
  color: $red;
  display: block;
  font-size: 12px;
  margin-bottom: 0.8em;
}

input[type=text],
input[type=url],
input[type=email],
input[type=password] {
  border: 1px solid #ccc;
  font-size: 18px;
  padding: 8px;
}

.field {
  margin-bottom: 0.8em;
}

.feedback {
  background: #F93;
  color: #fff;
  padding: 0.8em 0.8em;
  text-decoration: none;

  &:hover {
    background: #C60;
    color: #F93;
  }
}

#feedback {
  height: 104px;
  width: 114px;
  position: fixed;
  top: 40%;
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

// ============================================================================
// WRAPPER
// ============================================================================

.wrap {
  margin: 0 auto;
  width: 960px;
}

// ============================================================================
// BANNER
// ============================================================================

#banner {
  background: #1B1B1B;
  margin: 0 auto 40px auto;
  padding: 8px 0;

  #logo {
    background: image-url('cardiff-start-logo.png') no-repeat;
    display: inline-block;
    height: 40px;
    width: 210px;
    text-indent: -9999px;
  }

  .login {
    background: #333;
    border-radius: 25px;
    float: right;
    font-size: 14px;
    margin: 8px 0;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;

        a {
          border-right: 2px solid #777;
          color: #c9c9c9;
          display: block;
          padding: 0.1em 0.25em;

          &:hover {
            background: #82BFDE;
          }
        }

        &:last-child a {
          border-right: 0;
        }
      }
    }
  }
}

// ============================================================================
// MAIN
// ============================================================================

#main {

}

.message {
  border: 1px solid;
  border-radius: 2px;
  margin-bottom: 0.8em;
  padding: 0.25em 0.5em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.message-notice {
  background: #DFF0D8;
  border-color: #D6E9C6;
  color: #468847;
}

.message-warning {
  background: #FCF8E3;
  border-color: #FBEED5;
  color: #C09853;
}

.message-error {
  background: #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
}

// ============================================================================
// WELCOME
// ============================================================================

#welcome {
  #strapline {
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
  }

  p {
    margin: 0 auto 32px auto;
    text-align: center;
    width: 550px;
  }

  #teaser {
    color: #707070;
  }

  .tag-tease {
    background: #FEFF2C;
    color: #995317;
    display: block;
    font-weight: bold;
    padding: 12px;
  }

}

// ============================================================================
// FOOTER
// ============================================================================

#footer {
  border-top: 1px solid #eee;
  margin-bottom: 20px;
  margin-top: 3em;
  padding-top: 20px;

  #humanstxt {
    color: #bbb;
    font-family: monospace;
    margin: 0;
    padding: 0;
    text-align: center;

    a {
      color: #aaa;
    }
  }

}

// ============================================================================
// TAGS
// ============================================================================

.tags {
  padding: 0;

  li {
    display: inline-block;
    margin-bottom: 0.25em;

    .tag {
      display: block;
    }
  }
}

.tag {
  background: $tag;
  color: #069;
  padding: 0.4em 0.6em;
  text-decoration: none;
}
